html {
    scroll-behavior: smooth;
}
body{
  background-image: url("wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
}

body::before {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50vh;
  background: linear-gradient(to top, 
    rgba(47, 0, 0, 1) 10%, 
    rgba(47, 0, 0, 0.5) 85%,
    transparent 90%);
  pointer-events: none;
}
.navbar{
    display: flex;
    justify-content: left;
    height: 75px;
    background-color: rgba(255, 162, 0, 0.025);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.navbar a{
    text-decoration: none;
    color: rgb(251, 230, 3);
    margin:25px 15px;
    margin-left: auto;
    
}
.navbar-con {
  display: flex;
  margin-left: auto;   
  margin-right: 30px;  
  gap: 20px;
}
.navbar h1{
    display: flex;
    justify-content: left;
}

.logo{
    color: whitesmoke;
    margin-left: 15px;
}

